html {
    position: relative;
    min-height: 100%;
} 

body {
    margin: 0;
    font-family: 'PT Serif', serif; 
    background: url('https://i.imgur.com/c47Utou.jpg') no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 60px;
    line-height: 1.41;
}

.text {
    fill: none;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 7s infinite linear;
    animation: stroke 7s infinite linear;
}

.text:nth-child(5n + 1) {
    stroke: white;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.text:nth-child(5n + 2) {
    stroke: white;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
}

.text:nth-child(5n + 3) {
    stroke: white;
    -webkit-animation-delay: -3.4s;
animation-delay: -3.4s;
}

.text:nth-child(5n + 4) {
    stroke: white;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
}

.text:nth-child(5n + 5) {
    stroke: white;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

text {
    font-size: 120px;
    letter-spacing: 0.15em;
}

.box-with-text {
    background-size: .2em 100%;
    font: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

header {
    padding: 10px 20px;
    border-bottom: 2px solid white;
}

.home {
    padding-bottom: 80px;
}

.profile-picture {
    padding-top: 50px;
}

.portfolio {
    padding-top: 100px;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-size: .2em 100%;
    font: 50px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

nav {
    padding: 20px 0px;
    text-align: center;
} 

a {
    font-family: 'PT Serif', serif; 
    text-decoration: underline;
    color: white;
    /* letter-spacing: 2px; */
    font-weight: 500;
    font-size: 15px;
    /* margin: 0 20px;  */
}

.blur {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin: 20px !important;
}

a:hover { 
    color: #FFB26A !important; 
    border-bottom: 2px !important;
    text-decoration: none !important;
}

.container {
    border: 1px solid #eee9e9;
    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
    height: 100%;
}

p {
    text-align: center;
    color: white;
}

.project {
    padding: 15px 78px;
}

#me {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
    border: 5px solid #f8f8ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.profile {
    text-align: center;
    width: 100%; 
    top: 120%;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
}

.profile:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 20px;
} 

.initials {
    float: left;
    color: white;
}

.copyright {
    float: right;
}

.about {
    text-align: left;
    padding: 43px 15px 0 15px;;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin: 0 15px; 
    float: right;
}
 
.text-align {
    text-align: center;
    margin: 0 auto;
} 

img.responsive {
    border: 2px solid white; 
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
    width: 300px;
    height: 250px;
}

img.responsive:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2d2d2d;
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: .08em;
	font-weight: 500;
}

@media only screen and (max-width: 439px) {
    .blur {
        margin: 0 auto !important;
    }
}

@media only screen and (min-width: 414px) and (min-height: 732px) {
    body {
        font-size: 30px !important;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: 60%;
    }

    a {
        font-size: 30px !important;
    }
}
