html {
    position: relative;
    min-height: 100%;
} 

body {
    margin: 0;
    font-family: 'Asap Condensed', sans-serif, 'PT Serif', serif; 
    background: url('https://i.imgur.com/c47Utou.jpg') no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 60px;
    line-height: 1.41;
    padding-bottom: 15px !important;
}

.text {
    fill: none;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 7s infinite linear;
    animation: stroke 7s infinite linear;
}

.text:nth-child(5n + 1) {
    stroke: white;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.text:nth-child(5n + 2) {
    stroke: white;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
}

.text:nth-child(5n + 3) {
    stroke: white;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
}

.text:nth-child(5n + 4) {
    stroke: white;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
}

.text:nth-child(5n + 5) {
    stroke: white;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

text {
    font-size: 120px;
    letter-spacing: 0.15em;
}

.box-with-text {
    background-size: .2em 100%;
    font: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

header {
    padding: 10px 20px;
    border-bottom: 2px solid white;
}

.home, .skills, .about {
    padding-bottom: 100px !important;
}

i {
    font-size: 90px;
}

.tech-skills {
    padding-top: 50px !important;
}

.profile-picture {
    padding-top: 60px;
}

.portfolio {
    padding-top: 100px;
}

.quote {
    padding: 100px 100px 0px 100px;
    font-size: 25px;
    line-height: 75px;
    font-style: italic;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-size: .2em 100%;
    font: 50px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

nav {
    padding: 20px 0px;
    text-align: center;
} 

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.porty, #porty {
    padding: 20px !important;
}

.current {
    padding: 0 !important;
    font-size: 20px;
}

.blur {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);
}

.container {
    height: 100%;
}

p {
    text-align: center;
    color: white;
    font-size: 18px;
}

.project {
    padding: 15px 78px;
}

#me {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
    border: 5px solid #f8f8ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

svg {
    max-height: 100%;
}

.location {
    font-size: 20px;
}

.profile {
    text-align: center;
    width: 100%; 
    top: 120%;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
}

.profile:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 20px;
} 

.initials {
    float: left;
    color: white;
}

.copyright {
    float: right;
}

.fa {
    font-size: 15px !important;
}

.about {
    text-align: left;
    padding: 50px 10px 0 10px;;
}

ul {
    list-style-type: none;
    margin: -4px !important;
    padding: 0;
    overflow: hidden;
}

li {
    margin: 0 15px; 
    float: right;
}
 
.text-align {
    text-align: center;
    margin: 0 auto;
} 

img.responsive {
    border: 2px solid white; 
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
    width: 300px;
    height: 250px;
}

img.responsive:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

a:hover { 
    /* color: white !important; */
    border-bottom: 2px !important;
    text-decoration: none !important;
}

.col-xs-3, .porty, .current, #one, #two, #three, #four, #five, #six, #seven,
#eight, #nine, #ten, #eleven, #twelve, #thirteen,
#fourteen, #fifteen, #sixteen, #seventeen, #eighteen,
#nineteen, #twenty, #twentyone {
    padding: 40px;
    opacity: 0.65;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.home-page, .skills-page, .portfolio-page, 
#one, #two, #three, #four, #five, #six, #seven,
#eight, #nine, #ten, #eleven, #twelve, #thirteen,
#fourteen, #fifteen, #sixteen, #seventeen, #eighteen,
#nineteen, #twenty, #twentyone {
    padding: 40px;
    opacity: 0.65;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover,
#eight:hover, #nine:hover, #ten:hover, #eleven:hover, #twelve:hover, #thirteen:hover,
#fourteen:hover, #fifteen:hover, #sixteen:hover, #seventeen:hover, #eighteen:hover,
#nineteen:hover, #twenty:hover, #twentyone:hover, .col-xs-3:hover,
.porty:hover, .current:hover, .home-page:hover, .skills-page:hover,
.portfolio-page:hover {
    opacity: 1.0;
    transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
}

#one:hover {
   color: #FF0000;
   color: -webkit-linear-gradient(to left, white, #FF0000);
   color: linear-gradient(to left, white, #FF0000); 
}

#two:hover {
    color: #FF5B5B;
    color: -webkit-linear-gradient(to left, white, #FF5B5B);
    color: linear-gradient(to left, white, #FF5B5B);
}

#three:hover {
    color: #EC9E9E;
    color: -webkit-linear-gradient(to left, white, #EC9E9E);
    color: linear-gradient(to left, white, #EC9E9E);
}

#four:hover {
    color: #FFAE00;
    color: -webkit-linear-gradient(to left, white, #FFAE00);
    color: linear-gradient(to left, white, #FFAE00);
}

#five:hover {
    color: #FAC32B;
    color: -webkit-linear-gradient(to left, white, #FAC32B);
    color: linear-gradient(to left, white, #FAC32B);
}

#six:hover {
    color: #FFC156;
    color: -webkit-linear-gradient(to left, white, #FFC156);
    color: linear-gradient(to left, white, #FFC156);
}

#seven:hover {
    color: #FFFF5E;
    color: -webkit-linear-gradient(to left, white, #FFFF5E);
    color: linear-gradient(to left, white, #FFFF5E);
}

#eight:hover {
    color: #ECFFA6;
    color: -webkit-linear-gradient(to left, white, #ECFFA6);
    color: linear-gradient(to left, white, #ECFFA6);
}

#nine:hover {
    color: #C7FF5E;
    color: -webkit-linear-gradient(to left, white, #C7FF5E);
    color: linear-gradient(to left, white, #C7FF5E);
}

#ten:hover {
    color: #5EFF86;
    color: -webkit-linear-gradient(to left, white, #5EFF86);
    color: linear-gradient(to left, white, #5EFF86);
}

#eleven:hover {
    color: #6EBB6E;
    color: -webkit-linear-gradient(to left, white, #6EBB6E);
    color: linear-gradient(to left, white, #6EBB6E);
}

#twelve:hover {
    color: #AAEBD5;
    color: -webkit-linear-gradient(to left, white, #AAEBD5);
    color: linear-gradient(to left, white, #AAEBD5);
}

#thirteen:hover {
    color: #6BE1FF;
    color: -webkit-linear-gradient(to left, white, #6BE1FF);
    color: linear-gradient(to left, white, #6BE1FF);
}

#fourteen:hover {
    color: #6BA6FF;
    color: -webkit-linear-gradient(to left, white, #6BA6FF);
    color: linear-gradient(to left, white, #6BA6FF);
}

#fifteen:hover {
    color: #5F89FA;
    color: -webkit-linear-gradient(to left, white, #5F89FA);
    color: linear-gradient(to left, white, #5F89FA);
}

#sixteen:hover {
    color: #B8B8F3;
    color: -webkit-linear-gradient(to left, white, #B8B8F3);
    color: linear-gradient(to left, white, #B8B8F3);
}

#seventeen:hover {
    color: #B090EB;
    color: -webkit-linear-gradient(to left, white, #B090EB);
    color: linear-gradient(to left, white, #B090EB);
}

#eighteen:hover {
    color: #E090EB;
    color: -webkit-linear-gradient(to left, white, #E090EB);
    color: linear-gradient(to left, white, #E090EB);
}

#nineteen:hover {
    color: #EB90BE;
    color: -webkit-linear-gradient(to left, white, #EB90BE);
    color: linear-gradient(to left, white, #EB90BE);
}

#twenty:hover {
    color: #FCB0FC;
    color: -webkit-linear-gradient(to left, white, #FCB0FC);
    color: linear-gradient(to left, white, #FCB0FC);
}

.home-page:hover {
    color: #bebeff;
    color: -webkit-linear-gradient(to left, white, #bebeff);
    color: linear-gradient(to left, white, #bebeff);
}

.skills-page:hover {
    color: #ffe1be;
    color: -webkit-linear-gradient(to left, white, #ffe1be);
    color: linear-gradient(to left, white, #ffe1be);
}

.portfolio-page:hover {
    color: #ffbeff;
    color: -webkit-linear-gradient(to left, white, #ffbeff);
    color: linear-gradient(to left, white, #ffbeff);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2d2d2d;
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: .08em;
	font-weight: 500;
}

@media only screen and (max-width: 439px) {
    .blur {
        margin: 0 auto !important;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    body {
        font-size: 30px !important;
        background-color: whitesmoke !important;
        background-image: none;
    }

    .location {
        font-size: 20px !important;
    }

    .blur {
        background: #383531 !important;
        opacity: 0.9;
    }

    img.responsive {
        width: 600px;
        height: 500px;
    }
    
    a {
        font-size: 30px !important;
    }
    
    footer {
       padding: 80px;
    }
    
    .initials {
        font-size: 45px;
        position: relative;
        bottom: 25px;
    }

    i {
        color: white !important;
        font-size: 120px;
    }
    
    ul {
        position: relative;
        bottom: 15px;
    }
    
    .fa {
        font-size: 40px !important;
    }
    
    li {
        padding-left: 20px !important;
    }
    
    .quote {
        font-size: 35px;
    }
    
    .container {
        width: 95%;
    }
}