<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ../images/heart.png -->
    <link rel="icon" href = "https://arkauffman.github.io/arkauffman.github.io/images/heart.png">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

     <link type = "text/css" rel="stylesheet" href="./../css/style.css">      
    <!-- <link type = "text/css" rel="stylesheet" href="https://arkauffman.github.io/arkauffman.github.io/css/style.css">      -->
    <script src="https://use.fontawesome.com/36bb339d58.js"></script>

</head>
<body class="container">
    
    <div class="blur">
        <header>
            <h1> Portfolio </h1>
        </header> 

        <nav>
            <a class="porty" href="../index.html">Home</a>
            <a class="porty" href="./portfolio.html">Portfolio</a>
        </nav>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <br><br><br> 
                    <a href="http://arkauffman.github.io/war-game/" target="_blank"><img class="responsive" src="https://i.imgur.com/8LKQY2w.png"></a>
                    <br><br>
                    <a href="http://github.com/arkauffman/war-game" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <br><br><br>
                </p>
            </div>
            <div class="col-md-6">
                <p> 
                    <br><br><br>
                    <a href="http://trendsy.herokuapp.com" target="_blank"><img class="responsive" src="https://i.imgur.com/YawcZXx.png"></a>
                    <br><br>
                    <a href="http://github.com/arkauffman/trendsy" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <br><br><br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <br><br><br> 
                    <a href="http://listmeup.herokuapp.com" target="_blank"><img class="responsive" src="https://i.imgur.com/ceTPf6b.png"></a>
                    <br><br>
                    <a href="http://github.com/list-me-up/ListMeUp" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <br><br><br>
                </p>
            </div>
            <div class="col-md-6">
                <p> 
                    <br><br><br>
                    <a href="http://munchin.herokuapp.com" target="_blank"><img class="responsive" src="https://i.imgur.com/D6iuZyC.png"></a>
                    <br><br>
                    <a href="http://github.com/arkauffman/munch" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <br><br><br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <br><br><br> 
                    <a href="http://potluckticality.herokuapp.com" target="_blank"><img class="responsive" src="https://i.imgur.com/Me6Dbei.jpg"></a>
                    <br><br>
                    <a href="http://github.com/Potluckticality/Potluckticality" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <br><br><br>
                </p>
            </div>
        </div>
    </div>

    <footer class="navbar navbar-fixed-bottom" id="footer">
        <p class="initials">ARK</p>
            <ul> 
            <li> <a href= "mailto:arkauffma@gmail.com"> <i class="fa fa-google" aria-hidden="true"></i> </a> </li>
            <li> <a href="http://www.linkedin.com/in/alexandrakauffman" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li> <a href="http://github.com/arkauffman" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul> 
    </footer> 

</body>
</html>